@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: "whitesmoke";
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: NONE;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  border-radius: 0.7em;
  background-color: #faa0a0;
}

.active {
  border-radius: 0.7em;
  background-color: #04aa6d;
}

hr {
  color: #183d03;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke;
}

.videobox {
  padding-left: 50px;
  padding: 50px 100px 50px 100px;
  position: relative;
  background-color: whitesmoke;
}
.hobbies {
  position: relative;
  width: 100%;
  padding: 50px 100px 50px 100px;
  background: whitesmoke;
}

.hobbies p {
  color: green;
  font-weight: 500;
  align-items: "justify";
}

.rolemodels {
  position: relative;
  width: 100%;
  padding: 50px 100px 50px 100px;
  background: whitesmoke;
}

.hobbies p {
  color: green;
  font-weight: 500;
  align-items: "justify";
}

header {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: NONE;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  max-width: 600px;
  left: -1%;
  right: 100%;
}

.content .textbox h3 {
  color: black;
  font-size: 3.5em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textbox h5 {
  color: black;
}

.content .textbox h3 span {
  color: maroon;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textbox p {
  color: green;
  font-weight: 500;
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: maroon;
  color: white;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox .img {
  max-width: 400px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  align-content: center;
  align-self: start;
  display: flex;
}

.thumb li {
  align-items: flex-end;
  list-style: none;
  margin: 0 20px;
}

.thumb li img {
  max-width: 100px;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  background-color: gainsboro;
}

.footer-basic ul {
  position: relative;
  display: flex;
  align-items: center;
  left: 30%;
}

.footer-basic ul li {
  list-style: none;
  align-items: center;
  left: 50%;
}

.footer-basic ul li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: NONE;
  align-items: center;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.HREF {
  color: black;
}

#gallery { padding: 500px 150px 100px 400px }

#gallery span { position: absolute;
left: -1200px; 
transition:  opacity 3s ease-in-out;
}

#gallery a:hover span {
position: absolute;
top: 100px; left: 160px; bottom: 500px;
text-align: center;
max-height: 80%;
max-width: 80%;
}

#gallery ul {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  }

#gallery li {
  float: left;
  padding: 5px; 
}

